/*
body {
    color: rgb(20, 144, 151);
}

span {
    color: brown;
}
*/

body {
    color: rgb(20, 144, 151);
    } 
    
    p {
        color: red;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }